.user-navbar{
    background-color: #00CED1;
}
.navbar{
    border-radius: 0px;
}
.title{
    text-align: center;
    font: 25px Palatino, serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
}
.menu{
    margin-top:2px;
}
.user-page{
    background-color: #FFEFD5;
}
.user-photo{
    padding: 10px 0px;
    text-align: center;
}
.user-info{
    padding: 10px 0px;
}
.user-name{
    color: #31b0d5;
    font: 30px Palatino, serif;
}
.user-status{
    color: #BC8F8F;
    font: 20px Palatino, serif;

}
.user-location{
    font: 18px Palatino, serif;
    color: #A9A9A9;
}
.user-vita-title{
    margin: 10px 0px;
    color: #F08080;
    font: 20px Palatino, serif;
}
.user-vita{
    color: #A9A9A9;
    font: 18px Palatino, serif;
    word-wrap:break-word;
    margin: 0px 15px;
}
.display-inline-block{
    display: inline-block;
}
@media (max-width: 991px) {
    .user-info{
        text-align: center;
    }
}