body{
    margin:0px !important;
}
.menu{
    background: #269abc;
    position: absolute;
    width: 100%;
    height: 100%;
}
.row-menu{
    background: #269abc;
    position: relative;
    top: 30%;
    text-align: center;
    font: 60px "Galaxie";
    color: #FFF;
}
.content-row-menu{
    left: 50%;
    color: inherit;
    text-decoration: none;
    padding: 8px 0px 0px;
    width: 100%;
    display: block;
    font-size: 40px;
    cursor: pointer;
    -webkit-user-modify: read-only;
}
.row-menu:hover{
    z-index: 100;
    background: #ffffff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.content-row-menu:hover{
    color: #269abc;
}
@media (max-width: 480px) {
    .row-menu{
        top: 10%;
    }
}